.select_sources {
  height: 300px;
  max-height: 300px;
  overflow: scroll; 
}

.select_sources :global(.table td.rowSelector .checkbox),
.select_sources :global(.table td.rowSelector input){
  margin: 0px !important;
  padding: 0px !important;
} 
