node_modules/
.env
.git
legacy/
.DS_Store
core/
projects/**/public/**/*
npm-debug.log
packages/**/dist/bundle
packages/**/dist/bundle*
projects/**/dist/bundle
projects/**/dist/bundle*
dist/bundle
dist/bundle/**/*.*
packages/skypager-react-components
packages/skypager-terminal
packages/skypager-webhook-logger
public/
webpack-stats.json
log/electron-actions.json
node_modules
