.env
.DS_Store
core/
**/dist/bundle/**
dist/bundle
dist/bundle/**/*.*
public/
node_modules
projects/
node_modules/
legacy/
**/*.log
**/*.log*
*.log
npm-debug.*
*.hot-update.json
webpack-stats.json
build/**/*
dist/**/*
dist/
build/
tmp/records
