.env
projects/
experiments/
legacy/
settings/**/*.yml
data/
docs/
log/
public/
packages/skypager-devpack
packages/skypager-electron/
packages/skypager-example-react-webapp/
packages/skypager-plugin-blueprints/
packages/skypager-plugin-integrations/
packages/skypager-plugin-portfolio/
packages/skypager-plugin-themes/
packages/skypager-server/
packages/skypager-template-plugin/
packages/skypager-template-portfolio/
packages/skypager-template-project/
packages/skypager-theme-dashboard/
packages/skypager-theme-marketing/
packages/skypager-theme-social-app/
packages/skypager-themes/
packages/skypager-ui/
