.env
projects/
experiments/
legacy/
settings/**/*.yml
data/
docs/
log/
public/
packages/skypager-devpack
skypager-electron/
skypager-example-react-webapp/
skypager-plugin-blueprints/
skypager-plugin-integrations/
skypager-plugin-portfolio/
skypager-plugin-themes/
skypager-server/
skypager-template-plugin/
skypager-template-portfolio/
skypager-template-project/
skypager-theme-dashboard/
skypager-theme-marketing/
skypager-theme-social-app/
skypager-themes/
skypager-ui/
